<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--<suite name="Suite" parallel="tests" thread-count="1">-->
<suite name="Suite" verbose="5">
    <listeners>
        <listener class-name="utils.WebDriverListener" />
    </listeners>

    <test name="macys">
    <!--<parameter name="browser" value="iPhoneChromeEmulator" />-->
    <packages>
        <package name="tests.macys.macysHomePage"></package>
        <package name="tests.macys.macysHeader"></package>
    </packages>
    </test>
</suite>